@import url("bootstrap.css");

* {
  border: 0;
  padding: 0;
  margin: 1%;
}
.logo img{
  position: absolute;
  width: 200px;
  height: 250px;
}
#topnav {
  padding: 20px;
  float: right;
  color: grey;
}
a {
  box-shadow: 10px 5px 5px grey;
  font-family: "Bree Serif", serif;
  font-size: 20px;
  display: inline;
  text-align: center;
  text-decoration: none;
  padding: 14px 16px;
}

.notice {
  color: #fff;
  background: red;
  text-transform: uppercase;
  padding: 5px;
  text-align: center;
}
body {
  margin: 3%;
}

h1 {
  text-align: center;
  background-color: gray;
  padding: 2%;
  border-radius: 0.2rem;
}

