@import url('bootstrap.css');

*{
  border: 0;
  padding: 0;
  margin: 1%;
}

.logo{
  position: absolute;
}

body {
  margin: 3%;
}

h1 {
  text-align: center;
  background-color: gray;
  padding: 2%;
  border-radius: 0.2rem;
}