@import url("../css/bootstrap.css");
@import url("../css/swiper.min.css");




nav {
  margin-top: 0;
}


nav  ul {
 
  text-align:right;
  margin-top: 1%;
  float: right;
  width: 55%;
  margin-right: 5%;
}
nav img{
  margin-left: 5%;
  width: 20%;
  float: left;
}

nav > ul > li {
  display:inline;
  margin-right: 5%;
}

nav > ul > li > a { 
  font-size: 20px;
  color: #662E16;
  text-transform:uppercase;
}

 nav > ul > li > a:hover {
  background:transparent;
  color:black;
  padding: 1px;
  text-decoration:none;
}

#in, #out {
  font-size: 15px;
  color: blue;
  text-decoration: underline;
  text-transform: none;
}

#in:hover {
  text-decoration: none;
} 

#out:hover {
  text-decoration: none;
}


/******* Register Form *******/
/****************************/

#regname, #regmail, #regpass, #regconfirm
{
  padding: 5px;
  border: 1px solid #662E16;
  width: 100%;
  border-radius: 5px;
}

#submit {
  display: block;
  margin: 10px 0;
  padding: 10px;
  border-radius: 0.2em;
  background: #662E16;
  color: #fff;
  border: none;

}

.modal-body, .modal-header, .modal-footer {
  background: #E3CD6B;
  border-bottom: 1px solid #662E16;
}

.modal-title {
  color: #662E16;
}

/* Sign In */
#user, #mail, #pass {
  padding: 5px;
  border: 1px solid #662E16;
  width: 100%;
  border-radius: 5px;
}

#log-in {

    display: block;
  margin: 10px 0;
  padding: 10px;
  border-radius: 0.2em;
  background: #662E16;
  color: #fff;
  border: none;

}